@import "../../styles//mixins.scss";
.home {
  min-height: calc(100vh - 70px);
}
.home__container {
  display: grid;
  grid-template-columns: 75px 1fr;
  gap: 1.5rem;
  align-items: center;
  @include small {
    grid-template-columns: 50px 1fr;
  }
  @include medium {
    grid-template-columns: 100px repeat(2, 1fr);
  }
  .intro__blob {
    width: 300px;
    fill: hsl(0, 0, 20%);
    @include small {
      width: 150px;
    }
    @media screen and (max-width: 420px) {
      width: 180px;
    }
  }
  .hero__img {
    @include medium {
      order: 3;
    }
  }
  .hero__intro {
    grid-column: 1/3;
    @include medium {
      grid-column: auto;
      order: 2;
    }
  }

  .button {
    text-transform: uppercase;
    i {
      font-size: 1rem;
    }
  }
}
.social__media {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  a {
    font-size: 1.5rem;
    cursor: pointer;
    width: max-content;
    color: var(--text-color);
    &:hover {
      color: var(--title-color);
    }
  }
}

.hero__intro {
  h1 {
    margin-bottom: 0.75rem;
    font-size: var(--biggest-font-size);
  }
  h3 {
    position: relative;
    padding-left: 70px;
    font-weight: 500;
    margin-bottom: 1rem;
    @include small {
      padding-left: 0;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 50px;
      height: 1px;
      background: var(--text-color);
      @include small {
        display: none;
      }
    }
  }

  .intro__desc {
    margin-bottom: 2.5rem;
    @include small {
      text-align: justify;
    }
  }
}
